<template>

  <v-container grid-list-md >
        <v-layout row  >
            <v-flex d-flex xs10 offset-xs2>
                 <v-alert outline color="info" icon="info" :value="true">Chose</v-alert>
            </v-flex>

        </v-layout>

        <v-layout row wrap>

            <v-flex xs12 sm5 md6 offset-xs0 offset-lg4>

                <v-card flat>

                    <v-card-text>
                        <v-radio-group  v-model="op">
                            <v-radio v-for="(opt,i) in options"   :key="i" :label="opt.name" :value="opt.value"></v-radio>

                        </v-radio-group>
                    </v-card-text>
                </v-card>

            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
    export default{
        data(){
            return{
                options:[
                    {
                        name:'all (external and internal)',
                        value:1
                    },
                    {
                        name:'internal only (sent to users in your organization)',
                        value:2
                    },
                    {
                        name:'external only (sent to users outside your organization)',
                        value:3
                    }
                ],
                op:null
            }
        }
    }
</script>
