<template>
  <v-container >
        <v-layout row wrap>
            <v-flex xs12 sm5 md3 offset-xs0 offset-lg6>
                <h1>Keyword Page</h1>
            </v-flex>
        </v-layout>
    </v-container>

</template>
