<template >
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12 sm5 md8 offset-xs0 offset-lg3>
                <v-card  >
                    <v-card-text >
                        <v-card-media ></v-card-media >
                        <v-text-field :counter="25" :rules="[(v) => v.length <= 25 || 'Max 25 characters']" dark name="input-1" label="Rule name:" id="testing"></v-text-field>
                        <v-divider></v-divider>
                        <v-text-field  multi-line dark name="input-1" label="Rule description:" id="testing"></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-switch v-bind:label="`Rule is turned ${valor.toString()}`" v-model="switched">hola</v-switch>
                    </v-card-actions>
                </v-card>

            </v-flex>
        </v-layout>
    </v-container>


</template>

<script>
    export default{
        data(){
            return{
                switched:true
            }
        },
        computed:{
            valor:function(){
                return this.switched ? 'on' : 'off'
            }
        }
    }
</script>

