<template>
    <v-container >
        <v-layout row wrap>
            <v-flex xs12 sm5 md3 offset-xs0 offset-lg6>
                <h1>Sender Page</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
