<template>
    <v-app dark>

        <v-toolbar app>
            <v-toolbar-items >
                <v-btn v-for="(opt,i) in toolBarOpt" :key="i" :to="opt.link" flat>{{opt.title}} </v-btn>

            </v-toolbar-items>
            <div>
                <v-btn icon v-for="(opt,i) in toolBarOptIcon" :to="opt.link" :key="i" flat>
                    <v-icon>{{opt.icon}}</v-icon>
                </v-btn>
            </div>

        </v-toolbar>

        <v-navigation-drawer absolute app class="hidden-sm-and-down">
            <v-toolbar flat>
            <v-list class="grey darken-4">
                <v-list-tile >
                <v-list-tile-title class="title ">Signature Rules</v-list-tile-title>
                </v-list-tile>
            </v-list>
            </v-toolbar>
            <v-divider></v-divider>
            <v-toolbar flat class="grey darken-3">

                            <v-btn icon flat> <v-icon >add</v-icon> </v-btn>
                            <v-btn icon flat> <v-icon>save</v-icon> </v-btn>
                            <v-btn icon flat> <v-icon>keyboard_arrow_down</v-icon> </v-btn>
                            <v-btn icon flat> <v-icon>keyboard_arrow_up</v-icon> </v-btn>
                            <v-btn icon flat> <v-icon>clear</v-icon> </v-btn>
                            <v-layout class="mt-4">
                                <v-switch icon v-model="switched"  color="success"></v-switch>
                            </v-layout>

            </v-toolbar>

            <v-divider></v-divider>
            <v-list dense class="pt-0">
                <v-list-tile v-for="(option,i) in navBarOpt" :key="i"  @click="x(i)">

                    <v-list-tile-content>
                        <v-list-tile-title>{{option.title}}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action >
                        <v-icon>{{option.icon}}</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>

        </v-navigation-drawer>

        <main>
            <router-view></router-view>
        </main>



  </v-app>
</template>

<script>
    export default {
        data () {
            return {
                switched:true,
                navBarOpt:[
                    {
                        title:'Email signature for Management',
                        link:'',
                        icon:'keyboard_arrow_right'
                    },
                    {
                        title:'Signatures for Sales Department',
                        link:'',
                        icon:'keyboard_arrow_right'
                    },
                    {
                        title:'Signatures for customer Service',
                        link:'',
                        icon:'keyboard_arrow_right'
                    },
                    {
                        title:'Signature for internal emails',
                        link:'',
                        icon:'keyboard_arrow_right'
                    },
                    {
                        title:'Sample signature',
                        link:'',
                        icon:'keyboard_arrow_right'
                    }
                ],
                toolBarOpt:[
                    {
                        title:'Overview',
                        link:'/Overview'
                    },
                    {
                        title:'Senders',
                        link:'/senders'
                    },
                    {
                        title:'Keywords',
                        link:'/Keywords'
                    },
                    {
                        title:'Email direction',
                        link:'/EmailD'
                    },
                    {
                        title:'Design',
                        link:'/Design'
                    },
                    {
                        title:'Options',
                        link:'/Option'
                    },

                ],
                 toolBarOptIcon:[
                    {

                        icon:'input',
                        link:'/SendIcon'
                    },
                    {

                        icon:'settings',
                        link:'/SettingIcon'
                    },
                    {

                        icon:'reorder',
                        link:'/SideIcon'
                    }
                ],
                opt:-1,
            }

        },
        methods:{
            x(i){
                this.opt=i;

            }
        }
    }
</script>
